html {
    margin: 0;
  }
  
  span {
    display: block;
    margin-top: 5px;
  }
  .top-head {
   width: 100%;
   height: 100px;
   background:linear-gradient(rgb(239, 36, 131),yellow,rgb(24, 24, 230));
   text-align: center;
   padding-top: 10px;
  }
  .canvas {
    margin: 100px auto 100px ;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    justify-items: center;
    display: inline-block;
    margin-top: 50px;
  }
  
  .button {
    width: 100px;
    height: 100px;
    text-align: center;
    justify-items: center;
    border: solid black 2px;
    display: inline-block;
    padding-top: 10px;
  }
  
  #grey {
    background: grey;
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue;
  }
  #yellow {
    background: rgb(244, 244, 60);
  }
  #Orange {
    background: rgb(251, 166, 10);
  }
  #red {
    background: red;
  }
  #purple {
    background: purple;
  }
  #pink{
    background: rgb(250, 104, 129);
  }
  #skyblue{
    background: rgb(110, 201, 237);
  }
  #teal {
    background: teal;
  }
  #olive {
    background: olive;
  }
  #indigo{
    background: indigo;
  }

   /* Media queries for responsiveness */
   @media (max-width: 768px) and (min-width: 480px) {
    .canvas {
        display: grid !important; /* Force grid layout */
        grid-template-columns: auto auto ; /* Two columns for grid */
        width: 50%; /* Set width to 10% */
        margin-right: 100px;
    }
  
    .top-head h1 {
        font-size: 2rem; /* Adjust heading font size */
    }
  
    .button {
        width: 50%; /* Button takes 70% of the width */
        margin: 5px ; /* Center the button with auto margin */
        padding: 30px; /* Add padding for better touch area */
        font-size: 1.2rem; /* Adjust font size */
    }
    
  
    br {
        display: none; /* Remove line breaks on tablet */
    }
   
  }
  @media (max-width: 480px){
    .canvas {
      display: grid !important; /* Force grid layout */
      grid-template-columns: auto ; /* Two columns for grid */
      width: 50%; /* Set width to 10% */
  }
  .button {
    width: 70%; /* Button takes 70% of the width */
    margin: 10px auto; /* Center the button with auto margin */
    padding: 15px; /* Add padding for better touch area */
    font-size: 1.2rem; /* Adjust font size */
}
br{
  display: none;
}
  }